.horn-icon-hover-content {
    display: none;
    position: absolute;
    right: 72px;
    top: 50px;
    background-color: #FFFFFF;
    width: 315px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
    max-height: 582px;
    overflow-y: auto;
}

.announcement-dropdown-item {
    display: flex;
    flex-direction: column;
    padding: 16px;
    text-decoration: none;
    padding-top: 8px;
    border-bottom: 1px solid #2222221F;
}

.announcement-dropdown-item .line-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #222222;
    margin-top: 8px;
    flex-wrap: nowrap;
}

.light-font {
    color: #6E6E6E;
}

.announcement-dropdown-item .line-2 {
    font-size: 12px;
    color: #222222;
    margin-top: 8px;
}

.announcement-dropdown-item .line-3 {
    font-size: 12px;
    color: #6E6E6E;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 8px;
}

.announcement-fixed-bottom {
    box-shadow: 0px 1px 6px #0000003D;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 48px;
    justify-content: center;
    height: 48px;
    align-items: center;
    position:sticky;
    bottom: 0;
}

.fixed-button {
    margin-left: auto;
    margin-right: auto;
}